.ques span{
    display: block;
    margin-top: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(255, 246, 246);
    padding: 10px;
    justify-content: center;
    align-items: center;
} 
.quiz{
    border: 2px solid black;
    border-radius:20px ;
    width: fit-content;
    padding: 20px;
    background-color: rgb(91, 131, 115);
}
button{
    background-color: rgb(212, 92, 92);
    color: white;
    border-radius: 20px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: aliceblue;
}
h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: rgb(234, 230, 222);
}